params.reflowManagerConfigFile = "NA"
params.sourceConfigFile = "NA"

// to find workflow id in reflow manager database
params.workflowName = "NA"
params.workflowVersion = "NA"

// should be either rdbms-table or file
params.artifactType = "rdbms-table"

params.groupSizeForDelete = 5
params.groupSizeForTuningTableDump = 10
params.groupSizeForSendArtifacts = 50

params.vdiServiceUrl = "TODO"
params.organismAbbrev = "TODO"
params.targetProjectName = "TODO"



trace.enabled = true
trace.fields = 'task_id,hash,process,tag,status,exit,submit,realtime,%cpu,rss'
